# Only for Docker Deployment

BOT_TOKEN=6066551482:AAFGSZt2moW7SpyFzVihoffOFKUSMpWGojQ # Get it from @botfather

API_ID=24086498

API_HASH=0c459b186767a4634604c740c001c0c3

SESSION_STRING==BQFvh-IAe7KuoZAx_j3rZrBGO-Jkri-VGLlXbCvNG9V37pmlr4rtr2VnYwJEXoY405pBv8sJyV0PF9lVJrA2hnB9wtQJmKdc1Tz6p5dZkUidfp-WHs3lHZZPJSzoqo3a0Kc0Mp5ivxK-EQdXu-YDmDw2NvWZrQhTjaYI_oL-62AlKRxD4P1ZP9tp1zW8sP-LNKYqvOxmHoRbJ7pCQYFERGPlwjQ1iEnZmPwKfkRJKvJI34pidhzvNAbBRDWXk82dmt6CI1H_ggAav-9CwTMJIXXRWM6pG37pJ-QElb1MxK1aHE23xUjeiuxf5bUoTBufDVlrZiMCoNpIK9O_lwBzXCJql4kZQwAAAAE5g3gCAA # Check Readme to generate sessions

USERBOT_PREFIX=userbot_prefix

SUDO_USERS_ID=682966383 # Sudo users have full access to everythin, don't trust anyone

LOG_GROUP_ID=-125639839

GBAN_LOG_GROUP_ID=-173738999

MESSAGE_DUMP_CHAT=-173738999

WELCOME_DELAY_KICK_SEC=300 # Edit if u want

MONGO_URL=your_mongodb_url

ARQ_API_URL=https://thearq.tech # Leave it like this

ARQ_API_KEY=your_api_key # Get it from @ARQRobot

LOG_MENTIONS=0 # Make it 1 if you want to enable it

RSS_DELAY=300 # In seconds

PM_PERMIT=1 # fill 0 to disable it
